body {
  height: 100vh;
}

.buildings {
  height: 70vh;
  width: 100vw;
}

.building {
  background-color: gray;
  height: 10%;
  transition: all 0.7s ease-in-out;
}

.input {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}

.mode-btn {
  width: 3rem;
  background-color: white;
  height: 2rem;
}

.mode-btn span {
  width: 1.5rem;
  height: 100%;
  background-color: black;
}

.switch-btn {
  position: relative;
  width: 1.5rem;
  height: 0.8rem;
  border-radius: 20%;
  border: black 1px solid;
}
.switch {
  background-color: black;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  border: black 1px solid;
}

.slide .switch {
  left: 50%;
}
