@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:400|Yeseva+One:400");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Yeseva One", sans-serif;
}

.wrapper {
  min-height: 100vh;
  display: table;
  width: 100%;
  position: relative;
}

/* SCROLLBAR */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgb(234, 229, 224);
}

/* cuando el tema es light cambia a fondo blanco */
.bg-light ::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(45, 45, 43);
  border-radius: 0.2rem;
}

/* cuando el tema es negro cambia a gris  */
.bg-dark ::-webkit-scrollbar-thumb {
  background-color: rgb(84, 84, 84);
}
.bg-dark ::-webkit-scrollbar-track {
  background-color: #212529;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(45, 45, 43, 0.8);
}

.bg-dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(84, 84, 84, 0.8);
}

/* HEADER */
.btn-container {
  position: absolute;
  top: 1rem;
  right: 2rem;
}
.switch-btn {
  position: relative;
  width: 1.5rem;
  height: 0.8rem;
  border-radius: 45%;
  border: black 1px solid;
  padding: 0;
}
.switch {
  background-color: black;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.slide .switch {
  left: 50%;
}

/* BUILDINGS */
.buildings-scenary {
  position: relative;
}
.buildings {
  height: 70vh;
  width: 70vw;
  overflow-x: scroll;
}

.building {
  background-color: gray;
  height: 10%;
  width: 3rem;
  transition: all 0.7s ease-in-out;
}

.input {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  border: transparent;
  outline: none;
}

.sun {
  position: absolute;
  width: 4rem;
  height: 4rem;
  left: 3rem;
  bottom: 0;
  display: none;
}

.dawn .sun {
  right: 3rem;
  left: auto;
}

@media screen and (min-width: 768px) {
  .sun {
    display: block;
  }
}
